Format: 1A
HOST: http://api.spiderlog.net

# Spider log API
Provides services for the Spider Log app family, recording the world's spider sightings. 

# Group Spiders
Acces the Spider resources


## My Spiders [/spiders{?page,size}]
### Get all my spider sightings [GET]

+ Parameters
    + page (required, number, `1`)... `page` number 
    + size (required, number, `10`)... page `size`
    
+ Request

    + Header
    
                    Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
                    x-api-version: 1.0
                    
+ Response 200 (application/json)

        {
            "page" : 
            {
                "number" : 1,
                "size" : 10, 
                "totalPages": 20
            },
            "spiders" : 
            [
                {
                    "sightedAt" : "2023-06-29T07:00",
                    "imagedUrl" : "https://s3-eu-west-1.amazonaws.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                    "description" : "Spider I saw on the train", 
                    "tags" : [
                        "stripy"
                        ]
                },
                {
                    "sightedAt" : "2023-06-29T07:00",
                    "imagedUrl" : "https://s3-eu-west-1.amazonaws.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                    "description" : "Spider I saw on the office", 
                    "tags" : [
                        "big"
                        ]
                },
                {
                    "sightedAt" : "2023-06-29T07:00",
                    "imagedUrl" : "https://s3-eu-west-1.amazonaws.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                    "description" : "Spider I saw on the home", 
                    "tags" : [
                        "big",
                        "stripy"
                        ]
                } 
            ]
            
## Create a new Spider [/spiders]
### Create a spider sighting [POST]

+ Request

    + Header
    
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            Content-type: application/json
            x-api-version: 1.0
    
    + Body

            {
                "sightedAt" : "2023-06-29T07:10",
                "imageUrl" : "https://s3-eu-west-1.amazonaws.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                "description" : "Another spider I saw on the train (or was it the same one?)",
                "tags": [
                    "stripy"
                ]
            }
        
+ Response 201 

    + Header
    
            Location : spiders/abbd4122


## One of my spider sightings [/spiders/{id}]
### Get a spider sighting [GET]

+ Parameters
    + id (required, string, `aba443c`)... `id` of the spider sighting
    
+ Request

    + Header
    
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            x-api-version: 1.0
        
+ Response 200 (application/json)

    + Header
    
            ETag : "euyfewuyfvew76f7"
            cache-control: max-age=600
            
    + Body

            {
                "sightedAt" : "2023-06-29T07:00",
                "imageUrl" : "https://s3-eu-west-1.amazonaws.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                "description" : "Spider I saw on the train",
                "tags": [
                    "stripy"
                ]
            }
            
            
### Update a spider sighting [PUT]

+ Parameters
    + id (required, string, `aba443c`)... `id` of the spider sighting
    
+ Request

    + Header
    
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            Content-type: application/json
            x-api-version: 1.0
            
    + Body
    
            {
                "sightedAt" : "2023-06-29T07:15",
                "description" : "No, it was definitely different"
            }
        
+ Response 200